{% extends "main/base.html" %}
{% load staticfiles %}
{% block title %}About Us{% endblock %}

{% block content %}

	<div class="container">
		<center><h1 class="about-title">About the Team</h1></center>
		<div class="col-xs-6 col-md-4">
			<div class="thumbnail">
				<center><img src="{% static 'images/ryan_batchelder.png' %}" class="img-circle" width="150" height="150"></center>
				<div class="caption">
				<center><h2>Ryan Batchelder</h2></center>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="thumbnail">
				<img src="{% static 'images/ryan_dooley.png' %}" class="img-circle" width="150" height="150">
				<div class="caption">
					<center><h2>Ryan Dooley</h2></center>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="thumbnail">
				<center><img src="{% static 'images/john_dance.png' %}" class="img-circle" width="150" height="150"></center>
				<div class="caption">
					<center><h2>John Dance</h2></center>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="thumbnail">
				<img src="{% static 'images/brandon_paree.png' %}" class="img-circle" width="150" height="150">
				<div class="caption">
					<center><h2>Brandon Paree</h2></center>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="thumbnail">
				<img src="{% static 'images/kyle_mcginn.png' %}" class="img-circle" width="150" height="150">
				<div class="caption">
					<center><h2>Kyle McGinn</h2></center>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="thumbnail">
				<img src="{% static 'images/justin_liddicoat.png' %}" class="img-circle" width="150" height="150">
				<div class="caption">
					<center><h2>Justin Liddicoat</h2></center>
				</div>
			</div>
		</div>

	</div>
	<div class="container-fluid">
		<div class="col-xs-9 col-md-6">
			<p class="lead">
				<strong>Awwwww</strong> is a website that promotes content sharing through <em>links</em>, <em>pictures</em> (especially those of cute kittens and puppies), and other forms of <em>media</em> that really are just too dang cute to handle. Created by the lovely people in NAU's CS399 course, Ryan Dooley, Ryan Batchedler, John Dance, Brandon Paree, Kyle McGinn, and Justin Liddicoat, we plan to make the internet a cute place <em>One</em> user, <em>One</em> post, <em>One</em> picture at a time.
			</p>
		</div>
		<div class="col-xs-9 col-md-6">
			<p class="lead">
				 Post anything from your kitten running into the closed glass window while chasing a butterfly, or your adorable little puppy trying to lick that last spot of peanut butter off of his nose, or, better yet, a kitten licking the peanut butter off of a puppies nose. Whatever it is, we hope to see you on our boards posting the cutest pictures you can find. Join the team and many more in making the internet a <i>cuter</i> place.
			</p>
		</div>
	</div>


{% endblock %}
