{% extends "main/base.html" %}

{% block title %}
	Shreddit
{% endblock title %}

{% block navbar %}

{% endblock %}


{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Website Name</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et porta sapien. Nullam ac erat ut eros fermentum efficitur eu quis libero. Nullam nec magna tincidunt metus convallis imperdiet eu at turpis. Fusce felis nulla, vestibulum quis massa quis, aliquet dignissim turpis. Sed cursus, leo a rhoncus molestie, metus libero sollicitudin nulla, vel commodo ante turpis eget mauris. Sed finibus maximus tincidunt. Sed consectetur volutpat metus nec facilisis. In ut nisi vel arcu rutrum imperdiet vitae vitae mi. Integer sit amet dui non felis bibendum lobortis nec sed neque. Duis et mattis ex, sed viverra nisl. Quisque sapien augue, pharetra id posuere non, auctor dignissim tellus. Nunc sed quam non dolor luctus tincidunt a vitae lacus. Donec ac consectetur quam, vel auctor libero.

			Suspendisse eget leo feugiat, maximus libero id, viverra diam. Mauris gravida metus eu diam auctor molestie rutrum at odio. Aliquam erat volutpat. Nulla vehicula sagittis orci, sed consectetur nibh ornare id. Aenean ultricies, elit eget rutrum facilisis, lectus arcu pellentesque metus, sed dignissim erat elit quis augue. Integer dignissim magna ut leo viverra, sit amet posuere orci finibus. Phasellus feugiat ipsum a accumsan dapibus. Aenean et erat sed sapien pretium volutpat sed nec velit. In sagittis elementum auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst. Aenean convallis egestas risus, sit amet rhoncus orci egestas non.

			In non ante nibh. Morbi arcu nibh, ultrices congue risus ac, volutpat gravida turpis. Sed eleifend placerat viverra. Aenean luctus lacinia ipsum, eget posuere tellus ullamcorper vitae. Vestibulum turpis arcu, interdum quis faucibus id, ullamcorper consectetur quam. Integer eget eleifend lectus, a blandit lectus. Duis dui odio, pulvinar ac nibh in, rutrum sollicitudin lacus. Etiam ultrices gravida nunc sed eleifend. Nam ac nibh euismod, molestie augue ac, feugiat massa. Nunc et sodales quam. Morbi vel mattis metus. Vestibulum at dolor at massa blandit gravida. Praesent lacinia enim nec massa tincidunt, et pulvinar magna tempus. In a augue erat. Aliquam semper interdum turpis, sed volutpat eros rutrum ut. Vivamus vitae metus varius, pretium ex nec, congue eros.</p>
			</br>
			<center><p><a class="btn btn-success btn-lg" href="{% url 'main.views.register' %}">Sign Up!</a></p></center>
		</div>
	</div>
{% endblock %}
