{% extends "main/base.html" %}

{% block title %}
	Shreddit
{% endblock title %}

{% block navbar %}

{% endblock %}


{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Awwwww</h1>
            
            <img src="static/images/kitten.jpg" alt="http://www.tehcute.com/pics/201109/kitten-needs-a-hand.jpg" style="width:304px;height:228px">
            
            <h3> Rules of the Cute and Cuddly </h3>

    <li>No "sad" content, such as pics of animals that have passed away (try /r/petloss) or sob stories (e.g. found him in a dumpster).</li>

    <li>No comics, captioned pictures (try /r/lolcats), or photos of just text.</li>

    <li>No post titles asking for upvotes or approval, such as "any love for...", "what does /r/aww think of...", or "this didn't get much love on...", or "karma machine".</li>

    <li>No slurs or harassing comments.</li>

    <li>No linking to personal social sites (Facebook, Twitter, etc.)</li>

    <li>No NSFW content.</li>

    <li>No asking for donations, sponsorship or adoptions (try /r/care or /r/assistance).</li>

    <li>No bots or bot-like behavior.</li>
</li>
			</br>
			<center><p><a class="btn btn-success btn-lg" href="{% url 'main.views.register.new_user' %}">Sign Up!</a></p></center>
		</div>
	</div>
{% endblock %}
