{% extends "main/base.html" %}

{% block title %}
	Dooley
{% endblock title %}

{% block navbar %}

{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
	
			<h1>{{ user.username }} - <a href="mailto:{{ user.email }}">{{ user.email }}</a> </h1>
			<h3>User since: {{ user.date_joined }} | Last online: {{ user.last_login }}</h3>
			<hr />
			<h3>All Posts By User</h3>
			{% for post in posts %}
				<a href="/posts/?id={{ post.id }}"><p>{{ post.post_title }}</p></a>
			{% endfor %}
		</div>
	</div>

{% endblock %}
