{% extends 'main/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                    {{ message.message }}
                {% endfor %}
            </div>
        {% endif %}
        <h1>Create your AWWWcount</h1>

        <form class="form-horizontal" action="{% url 'newuser' %}" method="post">
            <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-default btn-lg" type="submit" value="Register">
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock %}